<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="end" class="custom-button">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="custom-title">Team List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let member of teamMembers">
    <ion-avatar slot="start">
      <ion-img [src]="member.image"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>{{ member.firstname }} {{ member.lastname }}</h2>
      <p>Date of Birth: {{ member.dob }}</p>
      <p>Position: {{ member.position }}</p>
      <p>Total Wins: {{ member.totalWins }}</p>
      <p>Total Matches: {{ member.totalMatches }}</p>
      <p>Jersey Number: {{ member.jersey }}</p>
      <p>Club: {{ member.club }}</p>

    </ion-label>
  </ion-item>


</ion-content>
